* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab';
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 219.74px);
  justify-content: center;
  justify-items: center;
  padding-top: 10px;
  column-gap: 20px;
  row-gap: 20px;
}

.character {
  width: 219.74px;
  height: 279px;
  border-radius: 20.5px;
  position: relative;
}

.character__image {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  object-fit: cover;
}

.character__image--luffy{ object-position: 50% 70%; }
.character__image--ace{ object-position: 50% 50%; }
.character__image--zoro{ object-position: 50% 50%; }
.character__image--nico{ object-position: 50% 5%; }

.character__gradient {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  background: 
    linear-gradient(180deg, 
    #fff 50.33%,
    #000 97.62%);
  mix-blend-mode: multiply;
  position: absolute;
  z-index: 10;
}

.character__name {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  width: inherit;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 232px;
  z-index: 20;
}
