* {
  margin: 0;
  padding: 0;
}

.character {
  display: inline-block;
  width: 219.74px;
  height: 279px;
  margin: 10px;
  border-radius: 20.5px;
  background-size: cover;
}

.character-gradient {
  height: inherit;
  background: linear-gradient(
  180deg, 
  rgba(255, 255, 255, 0) 50.33%,
  #000000 97.62%);
  border-radius: 20.5px;
  text-align: center;
}

.character-name {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  position: relative;
  top: 212px;
}

#luffy {
  background-image: url(../img/Luffy.png);
  background-position: 50% 72%;
}

#ace {
  background-image: url(../img/Ace.png);
  background-position: 50% 50%;
}

#zoro {
  background-image: url(../img/Zoro.png);
  background-position: 50% 50%;
}

#nico {
  background-image: url(../img/Nico.png);
  background-position: 50% 3%;
}