* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.character {
  display: inline-block;
  width: 219.74px;
  height: 279px;
  margin: 10px;
  border-radius: 20.5px;
}

.character-image {
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  object-fit: cover;
}

.character-gradient {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  background: 
    linear-gradient(180deg, 
    #fff 50.33%,
    #000 97.62%);
  mix-blend-mode: multiply;
  position: absolute;
  z-index: 10;
}

.character-name {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  width: inherit;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 232px;
  z-index: 20;
}

#luffy{ object-position: 50% 70%; }
#ace  { object-position: 50% 50%; }
#zoro { object-position: 50% 50%; }
#nico { object-position: 50% 5%; }
