.level {
  margin-top: 10px;
  font-size: 1.5rem;

  &__number {
    font-weight: bold;
    margin-left: 10px;
    color: black;
    &--selected { color: cornflowerblue;}
    &--locked { color: grey;}
  }
}