@font-face {
  font-family: "one-piece-icons";
  src: url("/lib/fonts/one-piece-icons.ttf?4s3727") format("truetype"), url("/lib/fonts/one-piece-icons.woff?4s3727") format("woff"), url("/lib/fonts/one-piece-icons.svg?4s3727#one-piece-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "one-piece-icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-location:before {
  content: "\e904";
}

.ico-arrow:before {
  content: "\e900";
}

.ico-menu:before {
  content: "\e901";
}

.ico-search:before {
  content: "\e902";
}

.ico-x:before {
  content: "\e903";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.header {
  padding: 19px;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  width: 100vw;
  background-color: white;
  z-index: 10;
}
.header__icon {
  font-size: 1.5rem;
}
.header__icon--x {
  display: none;
  width: 18.38px;
}
.header__logo {
  width: 112.5px;
  height: 40px;
}
.header__fill {
  width: 16px;
  height: 40px;
}
.header__toggle {
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 0;
  cursor: pointer;
}
.header__toggle:checked ~ .op-characters {
  display: none;
}
.header .menu {
  position: absolute;
  padding-top: 19px;
  display: none;
  left: 0;
  top: 78px;
  width: 100vw;
  height: 406px;
  z-index: 10;
  text-align: center;
  background-color: white;
  box-shadow: 0px 4px 3px #F3F3F3;
}
.header .menu__link {
  display: block;
  margin-bottom: 60px;
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.0063rem;
  text-decoration: none;
  cursor: pointer;
  color: #575757;
}
.header .menu__link:first-child {
  color: #0C75AF;
}
.header .menu__lang {
  width: 169px;
  height: 31px;
  padding: 0 31.6px;
  margin-top: -14px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ECECEC;
}
.header .menu__lang span {
  display: inline-block;
  width: 67px;
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.0063rem;
  color: #575757;
}
.header .menu__lang--es {
  margin-left: 20px;
  background: none;
}
.header__toggle:checked ~ .menu {
  display: block;
}
.header__toggle:checked ~ .header__icon--menu {
  display: none;
}
.header__toggle:checked ~ .header__icon--x {
  display: inline;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 26px 67px 25px;
  }
  .header__logo {
    width: 163px;
    height: 58px;
  }
  .header .menu {
    top: 109px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 21px 170px;
    justify-content: center;
    -moz-column-gap: 69px;
         column-gap: 69px;
  }
  .header__icon, .header__toggle, .header__fill {
    display: none;
  }
  .header .menu {
    display: flex;
    position: static;
    height: 31px;
    width: 708px;
    padding: 0;
    box-shadow: none;
    align-items: flex-start;
  }
  .header .menu__link {
    margin-right: 48px;
  }
  .header .menu__lang {
    width: 90px;
    margin: 0;
  }
  .header .menu__lang--en {
    margin-right: 20px;
  }
  .header .menu__lang span {
    display: none;
  }
}
.card-label {
  background-color: rgba(0, 96, 150, 0.59);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.card-label__name {
  color: white;
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1rem;
  letter-spacing: 0.0313rem;
}
.card-label__description {
  color: #F4F4F4;
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.025rem;
}
.card-label__description--mist {
  margin: 4px 0px;
}
.card-label--island {
  width: 178px;
  height: 48px;
  border-radius: 6px;
  padding-top: 8px;
  padding-left: 15px;
}
.card-label--mist {
  width: 241px;
  height: 132px;
  padding: 8px;
  border-radius: 0 6px 6px 0;
}

.ico-location {
  font-size: 10px;
  vertical-align: baseline;
}

@media screen and (min-width: 768px) {
  .card-label__name {
    font-family: "Roboto Slab";
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.0063rem;
  }
  .card-label--island {
    width: 183.5px;
    height: 49.5px;
  }
  .card-label--mist {
    width: 200px;
    height: 175px;
  }
}
@media screen and (min-width: 1280px) {
  .card-label__name {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .card-label__description {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.0094rem;
  }
  .card-label--island {
    width: 275.3px;
    height: 74.2px;
  }
  .card-label--mist {
    width: 297.4px;
    height: 254.3px;
    padding: 11.9px;
  }

  .ico-location {
    font-size: 0.875rem;
    margin-right: 4px;
  }
}
.character {
  position: relative;
}
.character__img {
  width: 182px;
  height: 231px;
}
.character__name {
  position: absolute;
  top: 175px;
  width: 182px;
  height: 2rem;
  font-size: 1.125rem;
  line-height: 2.875rem;
  font-weight: 500;
  text-align: center;
  color: white;
}
.character__gradient {
  border-radius: 16.4px;
  height: 231px;
  position: absolute;
  width: 182px;
  background: linear-gradient(180deg, white 50.33%, black 97.62%);
  mix-blend-mode: multiply;
}

.island {
  position: relative;
}
.island__img {
  width: 194px;
  height: 193px;
}

.card-label--island {
  position: absolute;
  top: 137px;
  left: 8px;
}

.mist-object {
  position: relative;
  width: 358px;
  height: 132px;
}
.mist-object__img {
  position: absolute;
  width: 174px;
  height: 132px;
}
.mist-object:nth-child(4) {
  display: none;
}

.card-label--mist {
  position: absolute;
  left: 117px;
}

@media screen and (min-width: 768px) {
  .character__img {
    width: 145px;
    height: 184px;
  }
  .character__name {
    top: 140px;
    width: 145px;
    height: 1.5rem;
    font-family: "Roboto Slab";
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
    letter-spacing: 0.0063rem;
  }
  .character__gradient {
    border-radius: 13.5px;
    width: 145px;
    height: 184px;
  }

  .island__img {
    width: 200px;
    height: 199px;
  }

  .mist-object {
    width: 310px;
    height: 175px;
  }
  .mist-object__img {
    width: 181px;
    height: 175px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0;
       object-position: 0;
  }
  .mist-object:nth-child(4) {
    display: block;
  }

  .card-label--island {
    top: 141px;
    left: 12.3px;
  }

  .card-label--mist {
    position: absolute;
    left: 110px;
  }
}
@media screen and (min-width: 1280px) {
  .character {
    height: 279px;
  }
  .character__img {
    width: 220px;
    height: 279px;
  }
  .character__name {
    top: 211px;
    width: 220px;
    height: 38px;
    font-size: 1.375rem;
    line-height: 3.375rem;
  }
  .character__gradient {
    width: 220px;
    height: 279px;
  }

  .island__img {
    width: 300px;
    height: 298.5px;
  }

  .card-label--island {
    top: 210px;
    padding: 12.3px 0 12.3px 23.2px;
  }

  .mist-object {
    width: 461px;
    height: 254.3px;
  }
  .mist-object__img {
    width: 263.2px;
    height: 254.3px;
  }

  .card-label--mist {
    left: 163.6px;
  }
}
.op-characters {
  margin-top: 78px;
  width: 100vw;
  height: 260px;
  text-align: center;
}
.op-characters__img {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 115.38vw;
  height: 260px;
  max-width: 1280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.op-characters__gradient {
  width: 100vw;
  max-width: 768px;
  height: 163px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 91.54%);
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 167px;
}

@media screen and (min-width: 768px) {
  .op-characters {
    margin-top: 109px;
    height: 368px;
  }
  .op-characters__img {
    height: 444px;
  }
  .op-characters__gradient {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .main {
    text-align: center;
  }

  .op-characters {
    position: relative;
    top: 4px;
    margin-top: 100px;
    width: 640px;
    height: 628px;
    display: inline-block;
  }
  .op-characters__img {
    height: 628px;
    max-width: 640px;
  }
}
.synopsis {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  margin-top: 19px;
  border-radius: 6px;
  box-shadow: 0 0 8px #B8E1FF;
  background-color: white;
  padding: 8px 8px 0px;
  width: 358px;
}
.synopsis__logo {
  display: none;
  width: 163px;
  height: 58px;
  position: absolute;
  top: -91px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
.synopsis__title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}
.synopsis__text {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.0156rem;
  margin-bottom: 20px;
  text-align: left;
}
.synopsis__text--read-all {
  display: none;
}
.synopsis__button {
  height: 48px;
  width: 342px;
  margin-top: -4px;
  background: none;
  border: none;
  border-top: 0.5px solid #0C75AF;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.0094rem;
  color: #0C75AF;
}
.synopsis__button i {
  vertical-align: middle;
  display: inline-block;
  font-size: 1rem;
  padding-right: 15px;
}
.synopsis__toggle {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 342px;
  height: 48px;
  top: 566px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}
.synopsis__toggle:checked {
  top: 845px;
}
.synopsis__toggle:checked ~ .synopsis .synopsis__button i {
  transform: rotate(180deg);
  padding: 0 0 0 15px;
}
.synopsis__toggle:checked ~ .synopsis .synopsis__button span {
  display: none;
}
.synopsis__toggle:checked ~ .synopsis .synopsis__button::after {
  content: "Read Less";
}
.synopsis__toggle:checked ~ .synopsis > .synopsis__text--read-all {
  display: block;
}
.synopsis__toggle:checked ~ .synopsis > .synopsis__logo {
  display: block;
}
.synopsis__toggle:checked ~ .synopsis {
  margin-top: 72px;
}
.synopsis__toggle:checked ~ .op-characters {
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .synopsis {
    width: 640px;
  }
  .synopsis__button {
    width: 624px;
  }
  .synopsis__toggle {
    top: 664px;
    width: 624px;
  }
  .synopsis__toggle:checked ~ .synopsis {
    margin-top: 19px;
  }
  .synopsis__toggle:checked ~ .synopsis > .synopsis__logo {
    display: none;
  }
  .synopsis__toggle:checked ~ .op-characters {
    margin-top: 109px;
  }
}
@media screen and (min-width: 1280px) {
  .synopsis {
    display: inline-block;
    width: 300px;
    height: 628px;
    position: relative;
    right: 5px;
    padding: 32px 16px 0;
    border-radius: 0 6px 6px 0;
    vertical-align: bottom;
  }
  .synopsis__button, .synopsis__toggle {
    display: none;
  }
  .synopsis__text--read-all {
    display: block;
  }
}
.search {
  width: 358px;
  height: 56px;
  margin: 48px auto 0;
  border: 1px solid #B5B5B5;
  border-radius: 6px;
  display: flex;
  align-items: center;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
.search__input {
  width: 275px;
  border: none;
}
.search__input::-moz-placeholder {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.0156rem;
  color: #7D7D7D;
  font-family: "Roboto", sans-serif;
}
.search__input:-ms-input-placeholder {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.0156rem;
  color: #7D7D7D;
  font-family: "Roboto", sans-serif;
}
.search__input::placeholder {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.0156rem;
  color: #7D7D7D;
  font-family: "Roboto", sans-serif;
}
.search__input:focus {
  outline: none;
}
.search__icon {
  color: #7D7D7D;
  margin-left: 11px;
  font-size: 1.5625rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .search {
    margin: 32px auto 0;
    width: 640px;
  }
}
@media screen and (min-width: 1280px) {
  .search {
    margin-top: 48px;
    width: 940px;
  }
}
.article {
  margin: 0 auto;
  overflow-x: visible;
  text-align: left;
  width: 359px;
}
.article__flex {
  display: flex;
}
.article__flex--characters {
  overflow-x: scroll;
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: 105%;
}
.article__flex--islands {
  overflow-x: scroll;
  -moz-column-gap: 17px;
       column-gap: 17px;
  width: 115%;
}
.article__flex--mist {
  flex-direction: column;
  row-gap: 16px;
}
.article__flex::-webkit-scrollbar {
  display: none;
}
.article__title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: #171717;
}
.article__container {
  display: flex;
  justify-content: space-between;
  margin: 48px 0 32px;
}
.article__link {
  text-decoration: none;
  color: #0C75AF;
}

@media screen and (min-width: 768px) {
  .article {
    width: 640px;
  }
  .article__container--characters {
    margin: 32px auto;
  }
  .article__container--islands {
    margin: 64px auto 32px;
  }
  .article__container--mist {
    margin: 58px auto 32px;
  }
  .article__flex {
    justify-content: space-between;
    width: 100%;
  }
  .article__flex--mist {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .article {
    width: 940px;
  }
  .article__title {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
  }
  .article__container--characters {
    margin: 48px auto 32px;
  }
  .article__container--islands, .article__container--mist {
    margin: 64px auto 32px;
  }
}
.footer {
  padding: 48px 0;
  margin-top: 70px;
  text-align: center;
  background-color: #0C75AF;
}
.footer__text {
  margin: 0 auto;
  width: 286px;
  margin-top: 38px;
  color: white;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.025rem;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 271px;
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 38px;
         column-gap: 38px;
  }
  .footer__text {
    margin: 0;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    margin-top: 70px;
  }
}/*# sourceMappingURL=style.css.map */