@font-face {
  font-family: 'one-piece-icons';
  src: url("/lib/fonts/one-piece-icons.ttf?4s3727") format("truetype"), url("/lib/fonts/one-piece-icons.woff?4s3727") format("woff"), url("/lib/fonts/one-piece-icons.svg?4s3727#one-piece-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'one-piece-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-location:before {
  content: "\e904";
}

.ico-arrow:before {
  content: "\e900";
}

.ico-menu:before {
  content: "\e901";
}

.ico-search:before {
  content: "\e902";
}

.ico-x:before {
  content: "\e903";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

@use 'colors' as *;
.card-label {
  background-color: rgba(0, 96, 150, 0.59);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.card-label__name {
  color: white;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.card-label__description {
  color: #F4F4F4;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.card-label__description--mist {
  margin: 4px 0px;
}

.card-label--island {
  width: 178px;
  height: 48px;
  border-radius: 6px;
  padding-top: 8px;
  padding-left: 15px;
}

.card-label--mist {
  width: 241px;
  height: 132px;
  padding: 8px;
  border-radius: 0 6px 6px 0;
}

.ico-location {
  font-size: 10px;
  vertical-align: baseline;
}

.character {
  position: relative;
}

.character__img {
  width: 182px;
  height: 231px;
}

.character__name {
  position: absolute;
  top: 175px;
  width: 182px;
  height: 32px;
  line-height: 46px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: white;
}

.character__gradient {
  position: absolute;
  width: 182px;
  height: 231px;
  border-radius: 16.4px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50.33%, #fff), color-stop(97.62%, #000));
  background: linear-gradient(180deg, #fff 50.33%, #000 97.62%);
  mix-blend-mode: multiply;
}

.island {
  position: relative;
}

.island__img {
  width: 194px;
  height: 193px;
}

.card-label--island {
  position: absolute;
  top: 137px;
  left: 8px;
}

.mist-object {
  position: relative;
  height: 132px;
  width: 358px;
}

.mist-object__img {
  width: 174px;
  height: 132px;
  position: absolute;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.mist-object:nth-child(4) {
  display: none;
}

.card-label--mist {
  position: absolute;
  left: 117px;
}

.header {
  padding-left: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
}

.header__menu {
  font-size: 18px;
}

.header__logo {
  width: 112.5px;
  height: 40px;
}

.header__fill {
  width: 16px;
  height: 40px;
}

.main {
  width: 100vw;
  overflow: hidden;
}

.main__img {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 115.38vw;
  height: 260px;
  max-width: 768px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__gradient {
  width: 100vw;
  max-width: 768px;
  height: 163px;
  position: absolute;
  top: 137px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0)), color-stop(91.54%, #FFFFFF));
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 91.54%);
}
/*# sourceMappingURL=style.css.map */