@font-face {
  font-family: 'one-piece-icons';
  src: url("/lib/fonts/one-piece-icons.ttf?4s3727") format("truetype"), url("/lib/fonts/one-piece-icons.woff?4s3727") format("woff"), url("/lib/fonts/one-piece-icons.svg?4s3727#one-piece-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'one-piece-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-location:before {
  content: "\e904";
}

.ico-arrow:before {
  content: "\e900";
}

.ico-menu:before {
  content: "\e901";
}

.ico-search:before {
  content: "\e902";
}

.ico-x:before {
  content: "\e903";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

@use 'colors' as *;
.card-label {
  background-color: rgba(0, 96, 150, 0.59);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.card-label__name {
  color: white;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.card-label__description {
  color: #F4F4F4;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.card-label__description--mist {
  margin: 4px 0px;
}

.card-label--island {
  width: 178px;
  height: 48px;
  border-radius: 6px;
  padding-top: 8px;
  padding-left: 15px;
}

.card-label--mist {
  width: 241px;
  height: 132px;
  padding: 8px;
  border-radius: 0 6px 6px 0;
}

.ico-location {
  font-size: 10px;
  vertical-align: baseline;
}

.character {
  position: relative;
}

.character__img {
  width: 182px;
  height: 231px;
}

.character__name {
  position: absolute;
  top: 175px;
  width: 182px;
  height: 32px;
  line-height: 46px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: white;
}

.character__gradient {
  position: absolute;
  width: 182px;
  height: 231px;
  border-radius: 16.4px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50.33%, #fff), color-stop(97.62%, #000));
  background: linear-gradient(180deg, #fff 50.33%, #000 97.62%);
  mix-blend-mode: multiply;
}

.island {
  position: relative;
}

.island__img {
  width: 194px;
  height: 193px;
}

.card-label--island {
  position: absolute;
  top: 137px;
  left: 8px;
}

.mist-object {
  position: relative;
  height: 132px;
  width: 358px;
}

.mist-object__img {
  width: 174px;
  height: 132px;
  position: absolute;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.mist-object:nth-child(4) {
  display: none;
}

.card-label--mist {
  position: absolute;
  left: 117px;
}

.header {
  padding: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
}

.header__menu {
  font-size: 24px;
}

.header__logo {
  width: 112.5px;
  height: 40px;
}

.header__fill {
  width: 16px;
  height: 40px;
}

.op-characters {
  width: 100vw;
  height: 260px;
  text-align: center;
}

.op-characters__img {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 115.38vw;
  height: 260px;
  max-width: 768px;
  -o-object-fit: cover;
     object-fit: cover;
}

.op-characters__gradient {
  width: 100vw;
  max-width: 768px;
  height: 163px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0)), color-stop(91.54%, #FFFFFF));
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 91.54%);
  display: block;
  margin: 0 auto 18px;
  position: relative;
  bottom: 167px;
}

@use 'colors' as *;
.synopsis {
  margin: 0 auto;
  margin-top: 19px;
  padding: 8px;
  width: 358px;
  height: 256px;
  -webkit-box-shadow: 0 0 8px #B8E1FF;
          box-shadow: 0 0 8px #B8E1FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.synopsis__logo {
  display: none;
}

.synopsis__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 16px;
}

.synopsis__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-bottom: 20px;
}

.synopsis__text--read-all {
  display: none;
}

.synopsis__button {
  height: 48px;
  width: 342px;
  background: none;
  border: none;
  border-top: 0.5px solid #0C75AF;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #0C75AF;
}

.synopsis__button i {
  vertical-align: middle;
  font-size: 16px;
  padding-right: 15px;
}

@use 'colors' as *;
.search {
  width: 358px;
  height: 56px;
  margin: 48px auto 0;
  border: 1px solid #B5B5B5;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 28px;
          column-gap: 28px;
}

.search__input {
  width: 275px;
  border: none;
}

.search__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .25px;
  color: #7D7D7D;
  font-family: 'Roboto', sans-serif;
}

.search__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .25px;
  color: #7D7D7D;
  font-family: 'Roboto', sans-serif;
}

.search__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .25px;
  color: #7D7D7D;
  font-family: 'Roboto', sans-serif;
}

.search__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .25px;
  color: #7D7D7D;
  font-family: 'Roboto', sans-serif;
}

.search__input:focus {
  outline: none;
}

.search__icon {
  color: #7D7D7D;
  margin-left: 11px;
  font-size: 25px;
  cursor: pointer;
}

@use 'colors';
.article {
  margin: 0 auto;
  overflow-x: visible;
  width: 359px;
}

.article__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__flex--characters {
  overflow-x: scroll;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  width: 105%;
}

.article__flex--islands {
  overflow-x: scroll;
  -webkit-column-gap: 17px;
          column-gap: 17px;
  width: 115%;
}

.article__flex--mist {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}

.article__flex::-webkit-scrollbar {
  display: none;
}

.article__title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #171717;
}

.article__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 48px 0 32px;
}

.article__link {
  text-decoration: none;
  color: #0C75AF;
}

.footer {
  padding: 48px 0;
  margin-top: 70px;
  text-align: center;
  background-color: #0C75AF;
}

.footer__text {
  margin: 0 auto;
  width: 286px;
  margin-top: 38px;
  color: white;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .4px;
}
/*# sourceMappingURL=style.css.map */