@use 'media-queries';

.article {
  margin: 0 auto;
  overflow-x: visible;
  text-align: left;
  width: 359px;
  &__flex {
    display: flex;
    &--characters {
      overflow-x: scroll;
      column-gap: 15px;
      width:105%;
    }
    &--islands{
      overflow-x: scroll;
      column-gap: 17px;
      width:115%;
    }
    &--mist {
      flex-direction: column;
      row-gap: 16px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__title {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: $black;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    margin: 48px 0 32px;
  }

  &__link {
    text-decoration: none;
    color: $primary-dark1;
  }
}

@include media-queries.tablet {
  .article {
    width: 640px;

    &__container--characters {
      margin: 32px auto;
    }
    &__container--islands {
      margin: 64px auto 32px;
    }
    &__container--mist {
      margin: 58px auto 32px;
    }
    &__flex {
      width: 100%;
      justify-content: space-between;
      &--mist {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}

@include media-queries.desktop {
  .article {
    width: 940px;

    &__title {
      font-weight: normal;
      font-size: 28px;
      line-height: 36px;
    }

    &__container--characters {
      margin: 48px auto 32px;
    }
    &__container--islands , &__container--mist {
      margin: 64px auto 32px;
    }
  }
}
