@use 'media-queries';

// characters

.character {
  position: relative;

  &__img {
    width: 182px;
    height: 231px;
  }

  &__name {
    position: absolute;
    top: 175px;
    width: 182px;
    height: 32px;
    line-height: 46px;  //vertical align text to bottom: line-height = 2*height - font-size
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: white;
  }

  &__gradient {
    position: absolute;
    width: 182px;
    height: 231px;
    border-radius: 16.4px;
    background: 
      linear-gradient(180deg, 
      #fff 50.33%,
      #000 97.62%);
  mix-blend-mode: multiply;
  }
}

// islands

.island {
  position: relative;

  &__img {
    width: 194px;
    height: 193px;
  }
}

.card-label--island {
  position: absolute;
  top: 137px;
  left: 8px;
}

// mist objects

.mist-object {
  position: relative;
  height: 132px;
  width: 358px;

  &__img {
    width: 174px;
    height: 132px;
    position: absolute;
  }

  &:nth-child(4) {
    display: none;
  }
}

.card-label--mist {
  position: absolute;
  left: 117px;
}

@include media-queries.tablet {
  .character {
    &__img {
      width: 145px;
      height: 184px;
    }
    &__name {
      top: 140px;
      height: 24px;
      line-height: 32px;
      width: 145px;
      font-family: 'Roboto Slab';
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.1px;
    }
    &__gradient {
      width: 145px;
      height: 184px;
      border-radius: 13.5px;
    }
  }
  .island__img {
    width: 200px;
    height: 199px;
  }
  .mist-object {
    width: 310px;
    height: 175px;
    &__img {
      width: 181px;
      height: 175px;
      object-fit:cover;
      object-position: 0;
    }
    &:nth-child(4) {
      display: block;
    }
  }

  .card-label--island {
    top: 141px;
    left: 12.3px;
  }

  .card-label--mist {
    position: absolute;
    left: 110px;
  }
  
}

@include media-queries.desktop {
  .character {
    &__img {
      width: 220px;
      height: 279px;
    }
    &__name {
      top: 211px;
      width: 220px;
      height: 38px;
      font-size: 22px;
      line-height: 54px;
    }
    &__gradient {
      width: 220px;
      height: 279px;
    }
  }

  .island__img {
    width: 300px;
    height: 298.5px;
  }

  .card-label--island {
    top: 210px;
    padding: 12.3px 0 12.3px 23.2px;
  }

  .mist-object {
    width: 461px;
    height: 254.3px;
    &__img {
      width: 263.2px;
      height: 254.3px;
    }
  }

  .card-label--mist {
    left: 163.6px;  }
}
