// primary variants
$primary-dark2 :  #006096;
$primary-dark1 :  #0C75AF;
$primary :        #66B7F1;
$primary-light1 : #B8E1FF;
$primary-light2 : #EAF5FF;

// secondary variants
$secondary-dark2 :  #0072CE;
$secondary-dark1 :  #008DFF;
$secondary :        #00B5E2;
$secondary-light1 : #62E0FF;
$secondary-light2 : #A0ECFF;

// grey scale
$black :  #171717;
$grey0 :  #575757;
$grey1 :  #7D7D7D;
$grey2 :  #B5B5B5;
$grey3 :  #DCDCDC;
$grey4 :  #ECECEC;
$grey5 :  #F3F3F3;
