@use 'color';
@use 'media-query';

.card-label {
  background-color: rgba($color: color.$primary-dark2, $alpha: 0.59);
  backdrop-filter: blur(4px);

  &__name {
    color: white;
    font-weight: bold;
    font-size: .8125rem;
    line-height: 1rem;
    letter-spacing: .0313rem;
  }

  &__description {
    color: #F4F4F4;
    font-weight: normal;
    font-style:normal;
    font-size: .875rem;
    line-height: 1rem;
    letter-spacing: .025rem;

    &--mist { margin: 4px 0px; }
  }

  &--island {
    width: 178px;
    height: 48px;
    border-radius: 6px;
    padding-top: 8px;
    padding-left: 15px;
  }

  &--mist{
    width: 241px;
    height: 132px;
    padding: 8px;
    border-radius: 0 6px 6px 0;
  }
}

.ico-location {
  font-size: 10px;
  vertical-align:baseline
}

@include media-query.tablet {
  .card-label {
    &__name {
      font-family: 'Roboto Slab';
      font-size: 1rem;
      line-height: 1.25rem;
      letter-spacing: .0063rem;
    }

    &--island {
      width: 183.5px;
      height: 49.5px;
    }

    &--mist {
      width: 200px;
      height: 175px;
    }
  }
}

@include media-query.desktop {
  .card-label {
    &__name {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    &__description {
      font-size: 1.125rem;
      line-height: 1.5rem;
      letter-spacing: .0094rem;
    }

    &--island {
      width: 275.3px;
      height: 74.2px;
    }

    &--mist {
      width: 297.4px;
      height: 254.3px;
      padding: 11.9px;
    }
  }

  .ico-location {
    font-size: .875rem;
    margin-right: 4px;
  }
}
