.op-characters {
  width: 100vw;
  height: 260px;
  text-align: center;
  &__img {
    // center image bigger than container
    margin-left: 50%;
    transform: translateX(-50%);
    width: 115.38vw;
    height: 260px;
    max-width: 768px;
    object-fit: cover;
  }

  &__gradient {
    width: 100vw;
    max-width: 768px;
    height: 163px;
    background: 
      linear-gradient(180deg, 
      rgba(#c4c4c4, 0) 0%,
      #FFFFFF 91.54%);
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 167px;
  }
}