@use 'media-query';

.op-characters {
  margin-top: 78px;
  width: 100vw;
  height: 260px;
  text-align: center;

  &__img {
    // center image bigger than container
    margin-left: 50%;
    transform: translateX(-50%);
    width: 115.38vw;
    height: 260px;
    max-width: 1280px;
    object-fit: cover;
  }

  &__gradient {
    width: 100vw;
    max-width: 768px;
    height: 163px;
    background: 
      linear-gradient(180deg, 
      rgba(#c4c4c4, 0) 0%,
      #FFFFFF 91.54%);
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 167px;
  }
}

@include media-query.tablet {
  .op-characters {
    margin-top: 109px;
    height: 368px;

    &__img { height: 444px; }
    &__gradient { display: none; }
  }
}

@include media-query.desktop {

  .main { text-align: center; }

  .op-characters {
    position: relative;
    top: 4px;
    margin-top: 100px;
    width: 640px;
    height: 628px;
    display: inline-block;

    &__img{
      height: 628px;
      max-width: 640px;
    }
  }
}
