.synopsis {
  margin: 0 auto;
  margin-top: 19px;
  padding: 8px 8px 0px;
  width: 358px;

  box-shadow: 0 0 8px $primary-light1;
  box-sizing: border-box;
  border-radius: 6px;

  &__logo {
    display: none;
    width: 163px;
    height: 58px;
    position: absolute;
    top: 305px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  &__title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 12px;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21.33px;
    letter-spacing: 0.25px;
    margin: 4px 0 16px;
    &--read-all {
      display: none;
    }
  }

  &__button {
    height: 48px;
    width: 342px;
    background: none;  
    border: none;
    border-top: .5px solid $primary-dark1;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: $primary-dark1;
    & i {
      vertical-align:middle;
      display: inline-block;
      font-size: 16px;
      padding-right: 15px;
    }
  }

  &__toggle {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 342px;
    height: 48px;
    top: 566px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  &__toggle:checked {
    top: 845px;
  }
  
  &__toggle:checked ~ & &__button{
    & i {
    transform: rotate(180deg);
    padding: 0 0 0 15px;
    }

    & span { display: none;}
    &::after {
      content: 'Read Less';
    }
  }

  &__toggle:checked ~ & > &__text--read-all{
    display: block;
  }

  &__toggle:checked ~ & > &__logo{
    display: block;
  }

  &__toggle:checked ~ & {
    margin-top: 72px;
  }
  &__toggle:checked ~ .op-characters {
    margin-top: 64px;
  }
}
